@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body {
    background-color: #2f4f4f;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0px 2px black;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: ivory;
  font-size: 52px;
}

.buttons {
  display: flex;
  padding: 20px 0;
  gap: 16px;
}

.play-button {
  width: 140px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 24px;
  background-color: #121f1f;
  color: white;
}

.winner-banner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  color: ivory;
}

#won-display {
  text-align: center;
  margin: 8px 0;
  color: ivory;
  font-size: 42px;
}

#score {
  display: flex;
  flex-direction: column;
}

#score h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

#restart {
  margin-top: 50px;
  padding: 8px 14px;
  height: 60px;
  width: 140px;
  border-radius: 6px;
  background-color: #121f1f;
  color: white;
  font-size: 18px;
}